# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.rsademo.iml
# Datasource local storage ignored files
/../../../../../../../:\jetbrains projects\RiderProjects\rsademo\.idea\.idea.rsademo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
